# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & Local files
# =========================
*.log
*.sqlite3

# =========================
# Python build files
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Jupyter Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Cache & Temporary files
# =========================
.cache/
.mypy_cache/
.pyre/
SOLVERSE.rar
SOLVERSE/*
Assets/*
*.bmp
*.ico

*.exe

Extra/*

Production/*

Installer-Files/*
Test-Files/*